@media screen and (max-width: 1000px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
  }

  .times {
    display: block;
    padding-bottom: 3rem;
  }

  .times .lastTime {
    padding-bottom: 1rem;
  }
}
