* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #000;
  color: #f3f3f3;
  line-height: 1.5;
}

nav {
  background: #727272;
  border-bottom: 2px solid #f0e68c;
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
  margin-bottom: 3rem;
}

nav h1 {
  color: #000;
}

nav h2 {
  color: #f0e68c;
}

nav h2 span {
  text-decoration: underline;
}

nav .logo img {
  width: 125px;
  height: auto;
}

.date {
  text-align: center;
}

.times {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 3rem;
}

.times .lastTime {
  text-align: left;
}

.times .currentTime {
  text-align: right;
}

.plan {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}

.container {
  width: 33%;
}

.container {
  width: 33%;
}

.box {
  background: rgb(170, 170, 170);
  border-radius: 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 1rem;
  margin-left: 1rem;
  height: 250px;
}

.box h3 {
  color: #f0e68c;
  border-bottom: 1px solid #f0e68c;
  line-height: 1;
  padding: 1rem 1rem 0 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.box .grid {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-bottom: 1rem;
}

.box .grid p {
  color: #333;
  font-weight: bold;
}

.box .grid p:nth-child(odd) {
  text-align: right;
  padding-right: 0.5rem;
}

.line {
  width: 100%;
  border-bottom: 3px solid #fff;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

#total {
  height: 100px;
  width: 100%;
  background: #f0e68c;
  border-radius: 10px;
  width: calc(100vw - 2rem);
  max-width: 1100px;
  margin: auto;
  margin-bottom: 2rem;
  /* margin-right: 1rem;
  margin-left: 1rem; */
}

#total h3 {
  color: #000;
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 1rem;
}

#total p {
  color: #333;
  text-align: center;
  font-weight: bold;
}
